.field {
    padding-top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    background: #fff;
}

.button:focus,
.button:hover {
    background: #e5e5e5;
}

.hoverPlayer1:hover::before,
.hoverPlayer2:hover::before,
.hoverPlayer1:focus::before,
.hoverPlayer2:focus::before  {
    font-size: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.hoverPlayer1:hover::before,
.hoverPlayer1:focus::before {
    content: "X"; 
    color: red;
}

.hoverPlayer2:hover::before,
.hoverPlayer2:focus::before  {
    content: "O"; 
    color: blue;
}
  
.player1 {
    color: red;
    border-color:  red;
}

.player2 {
    color: blue;
    border-color:  blue;
}

.winner {
    border-width: 4px;
    border-style: solid;
}

@media screen and (min-width: 800px) {
    .button {
        font-size: 86px;
    }
}
