.button {
    background: white;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.player1 {
    color: red;
}

.text {
    line-height: 1.4;
}

.player2 {
    color: blue;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}